.card-heading {
    @extend .h4;

    font-family: $font-family-base;
    color: inherit;
    margin: 0;
    max-width: 100%;
    width: max-content;

    &:not(:last-child) {
        margin-bottom: spacer(0.5);
    }

    // &::after {
    //     background: $light;
    //     border-radius: 999px;
    //     content: "";
    //     display: block;
    //     height: 3px;
    //     margin-top: spacer(0.25);
    // }
}