.card-box {
    @include transition-colors;

    $block: &;

    background: transparent;
    display: flex;
    flex-direction: column;
    height: 100%;
    text-decoration: inherit;

    &[href]:hover {
        text-decoration: inherit;
    }

    &__image-section {}

    &__image {
        aspect-ratio: 5 / 4;
        display: block;
        object-fit: cover;
        width: 100%;
    }

    &__text-section {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        padding-top: spacer();
        padding-bottom: spacer();
    }

    &__main {
        flex-grow: 1;
    }

    &__meta,
    &__date {
        @include font-size($font-size-sm);

        margin: 0;
        text-transform: uppercase;

        &:not(:last-child) {
            margin-bottom: spacer();

            @include media-breakpoint-up(md) {
                margin-bottom: spacer(1.25);
            }
        }
    }

    &__more {
        margin-top: spacer();

        @include media-breakpoint-up(md) {
            margin-bottom: spacer(1.25);
        }
    }

}