.card-more {
    align-items: center;
    display: flex;
    text-decoration: none;
    gap: spacer(0.75);

    &__icon {
        height: 24px;
        width: 24px;

        svg {
            display: block;
            fill: currentColor;
            height: 100%;
            width: 100%;
        }
    }

    &__text {
        @extend .btn;
        @extend .btn-primary;
        color: $light;
        // font-weight: $font-weight-bold;
        // text-decoration: underline;
        // text-decoration-thickness: $text-decoration-thickness;

        // &:not(:last-child) {
        //     margin-right: 0.25em;
        // }

        // &:not(:first-child) {
        //     margin-left: 0.25em;
        // }
    }

    &__file-name {
        padding: spacer(0.75) 0;
    }
}