.header {
    $breakpoint-expand: $nav-breakpoint-expand;

    @include padding-y(spacer(1.25));

    &__wrap {
        @extend .container;
    }

    &__row {
        @extend .row;
        @extend .gy-4;
    }

    &__title {
        @extend .order-2;
        @extend .col-7;
        @extend .col-xs4-6;
        @extend .offset-xs4-1;
        @extend .order-lg3-1;
        @extend .col-lg3-2;
        @extend .offset-lg3-0;
        margin-bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;

        // @include media-breakpoint-up($breakpoint-expand) {
        //     justify-content: center;
        // }
    }

    &__mobile-nav {
        @extend .order-1;
        @extend .col-2;
        @extend .d-lg3-none;

        display: flex;
        justify-content: start;
        align-items: center;

        @include media-breakpoint-up($breakpoint-expand) {
            justify-content: center;
        }
    }


    &__title-logo {
        display: block;
        height: 48px;

        @include media-breakpoint-up(xs6) {
            height: 55px;
        }

        @include media-breakpoint-up(sm2) {
            height: 60px;
        }

        @include media-breakpoint-up(md5) {
            height: 65px;
        }

        @include media-breakpoint-up(lg3) {
            height: 55px;
        }

        @include media-breakpoint-up(xxl) {
            height: 60px;
        }
    }

    &__actions {
        @extend .order-3;
        @extend .col-3;
        @extend .col-lg3-2;
        @extend .offset-lg3-1;
        @extend .order-lg3-2;

        display: flex;
        align-items: center;
        // justify-content: center;
        justify-content: end;

        // @include media-breakpoint-up(sm) {
        //     justify-content: end;
        // }
    }

    &__actions-grid {
        display: flex;
        column-gap: spacer(0.5);

        @include media-breakpoint-up(xs6) {
            column-gap: spacer();
        }
    }

    &__actions-item {}

    &__actions-link {
        @include transition-colors;

        align-items: center;
        border-radius: $border-radius-circle;
        color: $primary;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        text-decoration: none;
        height: 30px;
        width: 30px;

        @include media-breakpoint-up($breakpoint-expand) {
            height: 40px;
            width: 40px;
        }


        &--cart-has-contents {
            &::after {
                background: $secondary;
                border-radius: 999px;
                content: "";
                height: 10px;
                position: absolute;
                right: 10%;
                top: 10%;
                width: 10px;
            }
        }
    }

    &__actions-icon {
        display: block;
        height: 24px;
        margin: 0 auto;
        width: 24px;

        svg {
            fill: none;
            display: block;
            height: 20px;
            width: 20px;

            @include media-breakpoint-up($breakpoint-expand) {
                height: 24px;
                width: 24px;
            }
        }
    }

    &__actions-text {
        display: block;
        font-size: 8px;
        text-transform: uppercase;
        margin-top: 2px;

        // @include media-breakpoint-up($breakpoint-expand) {
        //     font-size: 8px;
        // }
    }

    &__nav {
        @extend .col-6;
        @extend .offset-lg3-1;
        @extend .order-lg3-2;

        display: flex;
        justify-content: start;
        align-items: center;

        @at-root .js & {

            @include media-breakpoint-down(lg3) {
                background: $tertiary;
                box-shadow: 0 .25rem 1rem rgba(0, 0, 0, .15);
                margin-top: 0;
                position: absolute;
                z-index: 20;
                top: 160px;
                width: 100vw;
                right: 0;
            }

            // @include media-breakpoint-down(lg) {
            //     top: 160px;
            // }

            @include media-breakpoint-down(md) {
                top: 150px;
            }


            @include media-breakpoint-down(xs6) {
                top: 140px;
            }
        }

        &--hidden {
            @include media-breakpoint-down($breakpoint-expand) {
                display: none;
            }
        }
    }

    &__search {
        background: rgba($secondary, 0.95);

        @at-root .js & {
            box-shadow: $box-shadow;
            left: 0;
            position: absolute;
            top: 70px;
            width: 100%;
            z-index: 50;

            @include media-breakpoint-up($breakpoint-expand) {
                top: 85px;
            }
        }
    }

    &__search-wrap {
        @extend .container;
        @include padding-y(spacer());
    }

    &__search-grid {
        align-items: center;
        display: flex;
        justify-content: space-between;
    }

    &__search-text-field {
        width: calc(100% - #{$form-floating-height} - #{spacer(0.5)});
    }

    // Non-BEM Bootstrap override
    #header-search-term {
        border-color: transparent;
    }

    &__search-button-field {
        width: $form-floating-height;
    }

    &__search-button {
        @extend .btn;
        @extend .btn-primary;

        height: $form-floating-height;
        padding: 0;
        width: $form-floating-height;
    }

    &__search-button-icon {
        align-items: center;
        display: flex;
        height: 100%;
        justify-content: center;
        width: 100%;

        svg {
            display: block;
            // fill: currentColor;
            height: 50%;
            width: 50%;
        }
    }
}

/* Hide search and nav initially to prevent flash */
.header__search,
.header__nav {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

/* Show them when page is ready */
.page-loaded .header__search,
.page-loaded .header__nav {
    opacity: 1;
    visibility: visible;
}