.home-banner {
    $breakpoint-expand: $nav-breakpoint-expand;


    position: relative;

    &__container {

        @include media-breakpoint-up(xxxl) {
            max-width: 1550px;
            margin: 0 auto;
        }
    }


    &__image {
        aspect-ratio: 21 / 9;
        width: 100%;
        object-fit: cover;
        object-position: 0%;


        @include media-breakpoint-up($breakpoint-expand) {
            aspect-ratio: auto;
            max-width: 100%;
            height: auto;
        }

    }

    &__text-section {
        padding: 3.5rem 0;
        background-color: $primary;
        padding: spacer(1.25);
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @include media-breakpoint-up($breakpoint-expand) {
            display: block;
            text-align: start;
            padding: spacer();
            background-color: rgba($primary, 0.8);
            position: absolute;
            top: 8%;
            left: 3%;
            width: 700px;
        }


        @include media-breakpoint-up(xxl) {
            top: 15%;
            left: 2%;
            width: 43rem;
        }

        @include media-breakpoint-up(xxxl) {
            top: 19%;
            left: 16%;
        }

        @include media-breakpoint-up(xxxxl) {
            left: 23%;
        }
    }

    &__heading {
        color: $white;
        font-weight: $font-weight-base;

        margin: {
            top: 0;
            bottom: spacer(0.75);
        }

        @include media-breakpoint-up(xxl) {
            margin-bottom: spacer(1);
        }

    }

    &__subheading {
        @extend .h5;
        margin-bottom: spacer(0.75);
        font-family: $font-family-base;
        font-weight: $font-weight-base;
        color: $light;
    }

    &__content {
        font-size: $font-size-base;
        font-family: $font-family-base;
        font-weight: $font-weight-base;
        color: $white;
    }


    &__more {
        &:not(:first-child) {
            margin-top: spacer();
        }
    }


}