.image-card-grid {
    $breakpoint-expand: lg;

    &:not(:last-child) {
        margin-top: spacer(2.25);
        margin-bottom: spacer(2.5);

        @include media-breakpoint-up(sm) {
            margin-bottom: spacer(3.25);
        }

        @include media-breakpoint-up(md) {
            margin-top: spacer(2.7);
            margin-bottom: spacer(3.75);
        }

        @include media-breakpoint-up($nav-breakpoint-expand) {
            margin-top: spacer(4);
        }
    }

    &__wrap {
        @extend .container;
    }

    &__row {
        @extend .row;
    }

    &__slider-nav {
        @extend .col-2;
    }

    &__slider-nav-buttons {
        position: relative;
        top: 15%;

        //Non-BEM swiper styles
        .swiper-button-next {
            height: $slider-icon-size-sm;
            color: $slider-icon-color;
            right: -20%;

            @include media-breakpoint-up(lg) {
                right: -9%;
            }
        }

        .swiper-button-prev {
            transform: rotate(180deg); // for some reason prev button is displayed as right arrow so i am rotating it so it looks like its pointing left
            color: $slider-icon-color;
            height: $slider-icon-size-sm;
            right: 80%;

            @include media-breakpoint-up(md) {
                right: 30%;
            }

            @include media-breakpoint-up(xl) {
                right: 20%;
            }
        }
    }

    &__heading-container {
        margin-bottom: spacer();
        text-align: center;

        &--with-slider-nav {
            @extend .col-10;
        }

        &--no-slider-nav {
            @extend .col-12;
        }
    }

    &__heading {
        @extend .section-heading;
        color: $primary;
        line-height: 1;

        &--left-aligned {
            text-align: start;
        }

        &--sm {
            font-size: 2.2rem;

            @include media-breakpoint-up(xs7) {
                font-size: 2.5rem;
            }

            @include media-breakpoint-up(sm) {
                font-size: 3rem;
            }

            @include media-breakpoint-up(md) {
                font-size: 3.75rem;
            }

            @include media-breakpoint-up(lg) {
                font-size: 4.25rem;
            }

            @include media-breakpoint-up(xl) {
                font-size: 4.75rem;
            }

            @include media-breakpoint-up(xxl) {
                font-size: 5rem;
            }
        }
    }

    &__column {
        // Fixed column classes for consistent behavior
        @extend .col-12; // 1 card per row on mobile
        @extend .col-md-6; // 2 cards per row on small screens

        &--4 {
            @extend .col-#{$breakpoint-expand}-3; // 4 cards per row on larger screens
        }

        &--3 {
            @extend .col-#{$breakpoint-expand}-4; // 3 cards per row on larger screens
        }

    }

    &__card {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    &__card-image {
        display: block;
        object-fit: cover;
        width: 100%;
        aspect-ratio: 4 / 5;
    }

    &__card-title {
        @extend .h4;
        font-family: $font-family-base;
        margin-top: spacer(0.66);
    }

}