.map-embed {
    aspect-ratio: 3 / 2;
    background: $light;

    &--square {
        aspect-ratio: 1 / 1;
    }

    &__fallback {
        align-items: center;
        display: flex;
        height: 100%;
        justify-content: center;
        padding: spacer();
        width: 100%;
    }
}
