.post-date {
    @include font-size($font-size-sm);

    font-weight: $font-weight-bold;
    margin: 0;
    text-transform: uppercase;

    &:not(:first-child) {
        margin-top: spacer(0.25);
    }

    &:not(:last-child) {
        margin-bottom: spacer(0.25);
    }

    a:not([class]) {
        color: inherit;
        text-decoration: none;

        &:hover {
            color: $link-color;
            text-decoration: none;
        }
    }
}
