.refine-results-button {
    @extend .btn;
    @extend .btn-cta;
    @extend .btn-sm;

    position: fixed;
    left: 50%;
    bottom: spacer(0.5);
    transform: translateX(-50%);

    box-shadow: $box-shadow;
    border-radius: 999px;
    text-transform: uppercase;

    &--hidden {
        display: none;
    }
}
