.woocommerce-ResetPassword.woocommerce-ResetPassword.woocommerce-ResetPassword.woocommerce-ResetPassword {
    .form-row-first,
    .form-row-last {
        width: calc(50% - #{spacer(0.5)});
    }

    .form-row {
        padding: 0;
        margin-bottom: spacer();
    }

    .form-row label {
        @extend .form-label;
    }

    .input-text {
        @extend .form-control;
    }

    .button.button.button.button {
        @extend .btn;
        @extend .btn-primary;
    }
}
