// Mixin for underlined heading with offset block
@mixin fancy-underline($position: 'start') {
    text-decoration: underline;
    text-decoration-color: currentcolor;
    text-decoration-thickness: auto;
    text-decoration-color: rgba($secondary, 0.4);
    text-decoration-thickness: 12px;
    text-underline-offset: -4px;
    text-decoration-skip-ink: none;
}