@mixin sale-badge {
    @include font-size($font-size-sm);

    background: $red;
    border-radius: 0;
    color: $white;
    font-weight: $font-weight-bold;
    line-height: inherit;
    margin: 0;
    min-height: auto;
    min-width: auto;
    padding: 0.125em 0.375em;
    text-transform: uppercase;
}
