// Styles

@import "functions";
@import "variables";

@import 'node_modules/bootstrap/scss/bootstrap';

@import "mixins/button";
@import "mixins/figure";
@import "mixins/margin";
@import "mixins/padding";
@import "mixins/transition-colors";

@import "base";

body {
    margin: 1em;
}
